# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Jobs

on:
  - push
  - pull_request

jobs:
  test-1_11:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Go 1.11
        uses: actions/setup-go@v6
        with:
          go-version: "1.11"
          check-latest: true
          cache: false

      - name: Test Go 1.11
        working-directory: ./testdata
        shell: sudo --preserve-env=PATH bash -e {0}
        run: |
          go version
          go test

  test-stable:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Go Stable
        uses: actions/setup-go@v6
        with:
          go-version: stable
          check-latest: true
          cache: false

      - name: Test Go Stable
        working-directory: ./testdata
        shell: sudo --preserve-env=PATH bash -e {0}
        run: |
          go version
          go mod edit -go $(go version | grep -Eo [0-9]+\.[0-9]+ | head -1)
          go get -u golang.org/x/net@latest
          go mod tidy
          go test

  go-pkg:
    if: github.event_name == 'push' && github.ref_name == 'main'
    needs: ["test-1_11", "test-stable"]

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: script
        env:
          BRANCH: go-pkg
          DIR: .go-pkg
        run: |
          rm -rf $DIR
          git init -b $BRANCH $DIR
          for item in *; do
              [ -e "$item" ] || continue
              [ "$item" = "testdata" ] && continue
              cp -r "$item" "$DIR/"
          done
          cd $DIR
          git config user.name $GITHUB_ACTOR
          git config user.email $GITHUB_ACTOR@users.noreply.github.com
          git add .
          git commit -m $BRANCH
          git remote add origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          git push origin $BRANCH -f
