# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Test

on:
  - push
  - pull_request

jobs:
  test-1_17:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.17'
        check-latest: true

    - name: test
      working-directory: testdata
      run: sudo go test

  test-stable:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: stable
        check-latest: true

    - name: test
      working-directory: testdata
      run: |
        go get golang.org/x/net@latest
        sudo go test
